*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

.jira{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.column{
    width: 30%;
    border: 2px solid grey;
    padding: 10px;
    text-align: center;
    min-height: 400px;
}

.card{
    background-color: black;
    color: rgb(238, 159, 13);
    border: 1px solid greenyellow;
    margin: 5px;
}

.img{
    
        width: 100%;
        height: auto;
      

}